{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lista Reseñas{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Id de Usuario</th>
            <th class="text-center">Id de Producto</th>
            <th class="text-center">Reseña</th>
            <th class="text-center">Calificacion</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
      {% for review in reviews: %}
      <td class="text-center align-middle">{{ review[1] }}</td>
      <td class="text-center align-middle">{{ review[2] }}</td>
      <td class="text-center align-middle">{{ review[3] }}</td>
      <td class="text-center align-middle">{{ review[4] }}</td>
    </tbody>
      {% endfor %}
  </table>
{% endblock %}