{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Nombre(s)</label>
    <input name="name" id="name" required>
    <label for="last_name">Apellidos</label>
    <input name="last_name" id="last_name" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="is_vendedor">Vendedor?</label>
    <input type="number" name="is_vendedor" id="is_vendedor" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
