<!-- Lista los productos (buscador) -->
<!-- Boton para obtener la plantilla de nuevo producto mediante endpoint /products/new -->
<!-- Boton en cada uno de los productos para ver detalles del mismo, manda a llamar /products/id -->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mis Productos{% endblock %}<a href="{{ url_for('products_page.new_product_template') }}"><p style="text-align:right;">Nuevo</p></a></h1>
{% endblock %}

{% block content %}

  <table class="table">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Precio</th>
            <th class="text-center">En venta</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
      {% for product in products: %}
        <td class="text-center align-middle">{{ product[2] }}</td>
        <td class="text-center align-middle">{{ product[4] }}</td>
        <td class="text-center align-middle">{{ product[5] }}</td>
        <td class="text-center align-middle"><a href="{{ url_for('products_page.existing_product', product_id=product[0]) }}">Ver mas</a></td>
    </tbody>
      {% endfor %}
  </table>
{% endblock %}
